.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login {
   width: 100%;
   max-width: 400px;
   text-align: center;
}

.button-l-2 {
  margin-left: 2%;
}

.button-r-2 {
  margin-right: 2%;
}

.spiner {
  margin: 0 auto;
}
  



.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

